#modal{
    margin-left: 30%;
    padding-top: 10%;
    height: 100px;
}

#modal textarea, input, h2{
    color: white;
}
::placeholder{
    color: white;
    font-size: 13px;
}

@media only screen and (max-width: 500px){
    #modal{
        margin-left: 0;
    }
}

#btn{
    border: none;
    background-color: #76c46e;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
    margin-left: 5%;
}

#btn:hover{
    background-color: #9df194;
}


.formInput{
    background: none;
    border: none;
    border-bottom: 1px solid black;
}